[user]
showPreviews=true
indicatorColorFromTheme=false
forceIconSize=true
iconSize=32
indicatorColor=rgb(53,132,228)
middleButtonBehavior=1
indicatorOrientation=1
inactiveColor=rgb(255,255,255)
pinned=/home/thrdchld/.local/share/applications/kitty.desktop;/usr/share/applications/thunar.desktop;/usr/share/applications/chromium-browser.desktop;/usr/share/applications/code.desktop;
